<!DOCTYPE html>
    <html>
    <head>
        <title>Create Dog</title>
    </head>
    <body>
    <h1>Create Dog</h1>
    <form action="/create" metod="post">
        <lable for="Name">Name</lable>
        <input type="text" name="Name" /> 
        <lable for="Age">Age</lable>
        <input type="number" name="Age" />
        <input type="submit" value="Add New Dog" />
    </form>
    </body>
    </html>
