<!DOCTYPE html>
    <html>
    <head>
        <title>Create Dog</title>
    </head>
    <body>
    <h1>Create Dog</h1>
    <form action="/create" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" /> 
        <label for="Age">Age</label>
        <input type="number" name="Age" />
        <input type="submit" value="Add New Dog" />
    </form>
    </body>
    </html>
