@using DogsApp.Mvc.Models
<!DOCTYPE html>
<html>
<head>
    <title>Edit Dog</title>
</head>
<body>
    <h1>Edit @Model.Name</h1>
    <form action="/edit/@Model.Id" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" value="@Model.Name" />
        <label for="Age">Age</label>
        <input type="number" name="Age" value="@Model.Age" />
        <input type="submit" value="Uppdate Dog" />
    </form>
</body>
</html>
