@model DogsApp.Mvc.Models.Dog[]
<!DOCTYPE html>
    <html>
    <head>
        <title>Dogs</title>
    </head>
    <body>
        <h1>Dogs</h1>
    <ul>
        @foreach (var dog in Model)
        {
            <li>@dog.Name <button action="delete/@dog.Id" type = "submit"> Delete</button><button action="edit/@dog.Id" type="submit">Edit</button></li>
        }
    </ul>

    <a href="/create">Add dog</a>

    </body>
    </html>